streamlit
python-dotenv
pandas
openpyxl
python-pptx
python-docx
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-google-genai

faiss-cpu

pypdf
unstructured

beautifulsoup4
lxml

tiktoken